{{ if modBool .index 2 }}
  <!-- Left vertical line -->
  <div class="col-1 col-lg-2 d-flex flex-column align-items-center vertical-line left-line">
    <div class="line-top"></div>
    <div class="circle fw-bold">
      {{ with .icon }}
        <i class="fas {{ . }}"></i>
      {{ else }}
        {{ add .index 1 }}
      {{ end }}
    </div>
    <div class="line-bottom"></div>
  </div>
{{ else }}
  <!-- Right vertical line -->
  <div class="col-1 col-lg-2 d-flex flex-column align-items-center vertical-line right-line">
    <div class="line-top"></div>
    <div class="circle fw-bold">
      {{ with .icon }}
        <i class="fas {{ . }}"></i>
      {{ else }}
        {{ add .index 1 }}
      {{ end }}
    </div>
    <div class="line-bottom"></div>
  </div>
{{ end }}
