{{ $sectionID := replace (lower .section.name) " " "-" }}
{{ if .section.id }}
  {{ $sectionID = .section.id }}
{{ end }}

{{ $author := site.Data.author }}
{{ if (index site.Data.site.Language.Lang).author }}
  {{ $author = (index site.Data.site.Language.Lang).author }}
{{ end }}

<!-- Full-width section wrapper -->
<div class="about-section w-100" id="{{ $sectionID }}">
  <div class="container-fluid g-0 p-0 m-0">
    <div class="row justify-content-center g-0 m-0 p-0">
      <div class="col-12 col-md-10 p-0 m-0 text-center">
        <h1 class="section-title pt-5">About Me</h1>

        <div class="row justify-content-center text-center g-0">

          {{ if or (.softSkills) (.badges) }}
            <div class="col-sm-8 p-0">
          {{ else }}
            <div class="col-sm-10 p-0">
          {{ end }}

              <h3 class="p-1">{{ $author.name }}</h3>

              {{ if .designation }}
                <h5 class="p-1">
                  {{ .designation }}
                  {{ if .company }}
                    {{ i18n "at" }}
                    <a href="{{ .company.url }}" title="{{ .company.name }}" target="_blank" rel="noopener">
                      {{ .company.name }}
                    </a>
                  {{ end }}
                </h5>
              {{ end }}

              <div class="custom-summary-wrapper">
                {{ .summary | markdownify }}
              </div>

              <div class="text-container ms-auto">
                <ul class="social-link d-flex justify-content-center">
                  {{ range .socialLinks }}
                    <li>
                      {{ if eq .name "Email" }}
                        <a href="mailto:{{ .url }}" title="{{ .name }}" target="_blank" rel="{{ .rel | default "noopener" }}">
                          <i class="{{ .icon }}"></i>
                        </a>
                      {{ else if eq .name (i18n "phone") }}
                        <a href="tel:{{ .url }}" title="{{ .name }}" target="_blank" rel="{{ .rel | default "noopener" }}">
                          <i class="{{ .icon }}"></i>
                        </a>
                      {{ else }}
                        <a href="{{ .url }}" title="{{ .name }}" target="_blank" rel="{{ .rel | default "noopener" }}">
                          <i class="{{ .icon }}"></i>
                        </a>
                      {{ end }}
                    </li>
                  {{ end }}
                </ul>
              </div>

              <div class="row">
                <div class="d-flex justify-content-center mt-4">
                  <a href="/files/MattJohnsResume.txt" download="MattJohnsResume.txt" title="Download My Resume">
                    <button class="btn btn-dark">Download My Resume</button>
                  </a>
                </div>
              </div>
            </div> <!-- col-sm -->

            <!-- Optional: soft skills -->
            <div class="col-sm-6 pt-5 ps-md-4 ps-sm-3 pt-sm-0">
              <div class="row">
                {{ range .badges }}
                  {{ partial "misc/badge.html" . }}
                {{ end }}
                {{ range .softSkills }}
                  {{ partial "misc/soft-skills.html" . }}
                {{ end }}
              </div>
            </div>

        </div> <!-- inner row -->
      </div> <!-- col-md-10 -->
    </div> <!-- outer row -->
  </div> <!-- container-fluid -->
</div> <!-- about-section -->
